* {
    margin: 2px;
}

h1 {
    display: flex;
    justify-content: center;
}

/* Section personal informations */
#private-informations {
    display: flex;
    flex-direction: row;
}

#profile-picture {
    width: 5em;
    height: auto;
    padding: 10px;
}

#profile-picture img{
    width: 100%;
    height: auto;
}

/* Section main informations */
#strengths,
#weaknesses,
#programmation-languages,
#languages-spoken,
#tools,
#interests {
    display: flex;
    align-items: center;
    gap: 20px;
    white-space: nowrap;
}

/* Section my experiences */
#my-experiences {
    display: flex;
    flex-direction: column;
}

/* Section my projects */
#my-projects {
    display: flex;
    flex-direction: column;
}

/* Classes */
.container {
    display: flex;
    flex-direction: row;
}